/**
 * File Upload
 */


.progress {
    display: inline-block;
    width: 100%;
    border: 2px groove $trp-light-gray;
    height: 35px;
}

.progress-bar {
    background-color: $trp-bright-blue;
    font-size: 15px;
    font-weight: bold;
    padding-top: 4px; 
}
